* -text
Config/*.ini text eol=native
**/Config/*.ini text eol=native
*.json text eol=native
*.csv text eol=native
*.md text eol=native
*.txt text eol=native
.gitattributes text eol=native
.gitignore text eol=native
LICENSE text eol=native

*.h text eol=native
*.cs text eol=native
*.cpp text eol=native

*.uplugin text eol=native
*.uproject text eol=native

*.uasset !text !filter !merge !diff
